In [1]:
# Kết nối CSDL
import sqlite3
# Kết nối với CSDL bằng đường dẫn
path = "D:/Setup/WWW.Tự học CNTT/Python/Database/csdl.db"
connection = sqlite3.connect(path)
print(connection)

<sqlite3.Connection object at 0x0000020A2BBA1B70>

In [2]:
# Tạo đối tượng cursor
cursor = connection.cursor()
# Tạo câu lệnh SQL
sql = "SELECT * FROM sinhvien"
cursor.execute(sql)
result = cursor.fetchall()
print (result)
cursor.close()

[('03', 'Lê Nhật Tùng', 6), ('02', 'Nguyễn Văn A', 4), ('01', 'TITV', 9), ('05', 'Tran Thi C', 7), ('06', 'Đỗ Thu Uyên', 8), ('07', 'Trần Thanh Bình', 7)]

In [3]:
# Tạo đối tượng cursor
cursor = connection.cursor()
# Tạo câu lệnh SQL
sql = "SELECT * FROM sinhvien WHERE sinhvien.diem_TB>=7"
cursor.execute(sql)
result = cursor.fetchall()
print (result)
cursor.close()

[('01', 'TITV', 9), ('05', 'Tran Thi C', 7), ('06', 'Đỗ Thu Uyên', 8), ('07', 'Trần Thanh Bình', 7)]

In [4]:
# Tạo đối tượng cursor
cursor = connection.cursor()
# Tạo câu lệnh SQL
sql = "INSERT INTO sinhvien(masv, ho_va_ten, diem_TB) VALUES ('07', 'Trần Thanh Bình', 8)"
cursor.execute(sql)
connection.commit()
cursor.close()
# result = cursor.fetchall()
# print (result)

IntegrityError: UNIQUE constraint failed: sinhvien.masv

In [ ]:
# Tạo đối tượng cursor
cursor = connection.cursor()
# Tạo câu lệnh SQL
sql = "UPDATE sinhvien set diem_TB = diem_TB - 1"
cursor.execute(sql)
connection.commit()
cursor.close()

In [6]:
def printAll(result):
    for item in result:
        print(item)

In [7]:
# Tạo đối tượng cursor
cursor = connection.cursor()
# Tạo câu lệnh SQL
sql = "SELECT * FROM sinhvien"
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
printAll(result)

('03', 'Lê Nhật Tùng', 6)
('02', 'Nguyễn Văn A', 4)
('01', 'TITV', 9)
('05', 'Tran Thi C', 7)
('06', 'Đỗ Thu Uyên', 8)
('07', 'Trần Thanh Bình', 7)

In [9]:
# Tạo đối tượng cursor
cursor = connection.cursor()
# Tạo câu lệnh SQL
sql = "SELECT * FROM sinhvien ORDER BY masv DESC"
cursor.execute(sql)
result = cursor.fetchall()
cursor.close()
printAll(result)

('07', 'Trần Thanh Bình', 7)
('06', 'Đỗ Thu Uyên', 8)
('05', 'Tran Thi C', 7)
('03', 'Lê Nhật Tùng', 6)
('02', 'Nguyễn Văn A', 4)
('01', 'TITV', 9)

In [10]:
# Khi làm xong nhớ ngắt kết nối để trả về tài nguyên
connection.close()