Limit the Result
You can limit the number of records returned from the query, by using the "LIMIT" statement
Giới hạn kết quả
Bạn có thể giới hạn số lượng bản ghi được trả về từ truy vấn bằng cách sử dụng câu lệnh "LIMI::

In [ ]:
# Select the 5 first records in the "customers" table:
# Chọn 5 bản ghi đầu tiên trong bảng "customers":
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

Start From Another Position
If you want to return five records, starting from the third record, you can use the "OFFSET" keyword
Bắt đầu từ vị trí khác
Nếu bạn muốn trả về năm bản ghi, bắt đầu từ bản ghi thứ ba, bạn có thể sử dụng từ khóa "OFFSET:

In [ ]:
# Start from position 3, and return 5 records:
# Bắt đầu từ vị trí 3 và trả về 5 bản ghi:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)