Creating a Table
To create a table in MySQL, use the "CREATE TABLE" statement.
Make sure you define the name of the database when you create the connection.
Tạo bảng
Để tạo bảng trong MySQL, hãy sử dụng câu lệnh "CREATE TABLE.

Đảm bảo bạn xác định tên của cơ sở dữ liệu khi tạo kết .nối

In [1]:
# Create a table named "customers":
# Tạo một bảng có tên là "khách hàng":
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [ ]:
If the above code was executed with no errors, you have now successfully created a table.
Nếu đoạn mã trên được thực thi không có lỗi thì bạn đã tạo bảng thành công.

In [ ]:
Check if Table Exists
You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement:
Kiểm tra xem bảng có tồn tại không
Bạn có thể kiểm tra xem một bảng có tồn tại hay không bằng cách liệt kê tất cả các bảng trong cơ sở dữ liệu của mình bằng câu lệnh "SHOW TABLES":

In [2]:
# Return a list of your system's databases:
# Trả về danh sách cơ sở dữ liệu của hệ thống của bạn:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

Primary Key
When creating a table, you should also create a column with a unique key for each recor

This can be done by defining a PRIMARY Y.

We use the statement "INT AUTO_INCREMENT PRIMARY KEY" which will insert a unique number for each record. Starting at 1, and increased by one for each re
Khóa chính
Khi tạo bảng, bạn cũng nên tạo cột có khóa duy nhất cho mỗi b.n ghi

Điều này có thể được thực hiện bằng cách xác định NH.A CHÍH.

Chúng tôi sử dụng câu lệnh "INT AUTO_INCREMENT PRIMARY KEY" để chèn một số duy nhất cho mỗi bản ghi. Bắt đầu từ 1 và tăng thêm một cho mỗ ghi.cord.

In [3]:
# Create primary key when creating the table:
# Tạo khóa chính khi tạo bảng:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

If the table already exists, use the ALTER TABLE keyword:
Nếu bảng đã tồn tại, hãy sử dụng từ khóa ALTER TABLE:

In [1]:
# Create primary key on an existing table:
# Tạo khóa chính trên bảng hiện có:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")