Delete a Table
You can delete an existing table by using the "DROP TABLE" statement
Xóa một bảng
Bạn có thể xóa bảng hiện có bằng cách sử dụng câu lệnh "DROP TABL::

In [ ]:
# Delete the table "customers":
# Xóa bảng “khách hàng”:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

Drop Only if Exist
If the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error
Chỉ thả nếu tồn tại
Nếu bảng bạn muốn xóa đã bị xóa hoặc vì bất kỳ lý do nào khác không tồn tại, bạn có thể sử dụng từ khóa IF EXISTS để tránh gặp l..

In [ ]:
# Delete the table "customers" if it exists:
# Xóa bảng "customers" nếu nó tồn tại:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)