Insert Into Table
To fill a table in MySQL, use the "INSERT INTO" statement
Chèn vào bảng
Để điền vào bảng trong MySQL, hãy sử dụng câu lệnh "INSERT INTO"..

In [1]:
# Insert a record in the "customers" table:
# Chèn một bản ghi vào bảng "khách hàng":
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.
Quan trọng!: Lưu ý tuyên bố: mydb.commit(). Cần phải thực hiện các thay đổi, nếu không thì không có thay đổi nào được thực hiện đối với bảng.

Insert Multiple Rows
To insert multiple rows into a table, use the executemany() method.

The second parameter of the executemany() method is a list of tuples, containing the data you want to inse
Chèn nhiều hàng
Để chèn nhiều hàng vào một bảng, hãy sử dụngphương thức  executemany(c này

Tham số thứ hai của phư thứcơng executemanhức là danh sách các bộ dữ liệu, chứa dữ liệu bạn muốn chèn:rt:

In [2]:
# Fill the "customers" table with data:
# Điền dữ liệu vào bảng "khách hàng":
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

Get Inserted ID
You can get the id of the row you just inserted by asking the cursor object
Nhận ID được chèn
Bạn có thể lấy id của hàng bạn vừa chèn bằng cách hỏi đối tượng con trỏ..

In [3]:
# Insert one row, and return the ID:
# Chèn một hàng và trả về ID:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15