Creating a Database
To create a database in MySQL, use the "CREATE DATABASE" statement
Tạo cơ sở dữ liệu
Để tạo cơ sở dữ liệu trong MySQL, hãy sử dụng câu lệnh "CREATE DATABASE"::

In [ ]:
create a database named "mydatabase":
tạo cơ sở dữ liệu có tên "mydatabase":

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

DatabaseError: 1007 (HY000): Can't create database 'mydatabase'; database exists

If the above code was executed with no errors, you have successfully created a database.
Nếu đoạn mã trên được thực thi không có lỗi thì bạn đã tạo cơ sở dữ liệu thành công.

Check if Database Exists
You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement
Kiểm tra xem cơ sở dữ liệu có tồn tại không
Bạn có thể kiểm tra xem cơ sở dữ liệu có tồn tại hay không bằng cách liệt kê tất cả cơ sở dữ liệu trong hệ thống của mình bằng cách sử dụng câu lệnh "SHOW DATABASES"::

Return a list of your system's databases:
Trả về danh sách cơ sở dữ liệu của hệ thống của bạn:

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

Or you can try to access the database when making the connection:
Hoặc bạn có thể thử truy cập cơ sở dữ liệu khi thực hiện kết nối:

Try connecting to the database "mydatabase":
Hãy thử kết nối với cơ sở dữ liệu "mydatabase":

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

If the database does not exist, you will get an error.
Nếu cơ sở dữ liệu không tồn tại, bạn sẽ gặp lỗi.