Select From a Table
To select from a table in MySQL, use the "SELECT" statement:
Chọn từ một bảng
Để chọn từ một bảng trong MySQL, hãy sử dụng câu lệnh "SELECT":

In [1]:
# Select all records from the "customers" table, and display the result:
# Chọn tất cả bản ghi từ bảng "khách hàng" và hiển thị kết quả:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

Note: We use the fetchall() method, which fetches all rows from the last executed statement.
Lưu ý: Chúng tôi sử dụng phương thức fetchall() tìm nạp tất cả các hàng từ câu lệnh được thực thi cuối cùng.

Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):
Chọn cột
Để chỉ chọn một số cột trong bảng, hãy sử dụng câu lệnh "SELECT" theo sau là (các) tên cột:

In [2]:
# Select only the name and address columns:
# Chỉ chọn cột tên và địa chỉ:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

Using the fetchone() Method
If you are only interested in one row, you can use the fetchone() method

The fetchone() method will return the first row of the rltesu
Sử dụng phương thức getdone()
Nếu bạn chỉ quan tâm đến một hàng, bạn có thể sửg dụn phương hứcg fetch)nàyương thứchứcơng fe()honhức sẽ trả về hàng đầu tiên của kuả:lt:

In [3]:
# Fetch only one row:
# Chỉ tìm nạp một hàng:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLttc82$",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('John', 'Highway 21', 1)