Join Sets
There are several ways to join two or more sets in Python.
The union() and update() methods joins all items from both sets.
The intersection() method keeps ONLY the duplicates.
The difference() method keeps the items from the first set that are not in the other set(s).
The symmetric_difference() method keeps all items EXCEPT the duplicates.
Nối sets
Có một số cách để nối hai hoặc nhiều bộ trong Python.
Các phương thức union()và update()nối tất cả các mục từ cả hai bộ.
Phương thức intersection() CHỈ giữ các bản sao.
Phương thức difference() giữ các mục từ bộ đầu tiên không có trong (các) bộ khác.
Phương thức symmetric_difference() giữ tất cả các mục NGOẠI TRỪ các mục trùng lặp.

Union
The union() method returns a new set with all items from both sets.
Liên hiệp
Phương thức union() trả về một bộ mới với tất cả các mục từ cả hai bộ.

In [1]:
# Join set1 and set2 into a new set:
# Nối set1 và set2 thành một bộ mới:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'c', 'b'}

In [2]:
# You can use the | operator instead of the union() method, and you will get the same result.
# Bạn có thể sử dụng |toán tử thay vì union()phương thức và bạn sẽ nhận được kết quả tương tự.
# Use | to join two sets:
# Sử dụng |để nối hai bộ:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 'a', 2, 3, 'c', 'b'}

Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.
When using a method, just add more sets in the parentheses, separated by commas:
Nối nhiều set
Tất cả các phương thức và toán tử nối có thể được sử dụng để nối nhiều tập hợp.
Khi sử dụng một phương thức, chỉ cần thêm nhiều bộ vào dấu ngoặc đơn, phân tách bằng dấu phẩy:

In [3]:
# Join multiple sets with the union() method:
# Tham gia nhiều bộ với union()phương thức:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 'a', 2, 3, 'apple', 'cherry', 'bananas', 'c', 'John', 'Elena', 'b'}

In [4]:
# When using the | operator, separate the sets with more | operators:
# Khi sử dụng |toán tử, hãy tách các bộ có nhiều |toán tử hơn:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 'a', 2, 3, 'apple', 'cherry', 'bananas', 'c', 'John', 'Elena', 'b'}

Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.
The result will be a set.
Nối một Set và một Tuple
Phương thức union() cho phép bạn nối một tập hợp với các loại dữ liệu khác, như danh sách hoặc bộ dữ liệu.
Kết quả sẽ là một tập hợp.

In [5]:
# Join a set with a tuple:
# Tham gia một bộ với một bộ dữ liệu:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 'a', 2, 3, 'c', 'b'}

Note: The | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.
Lưu ý: Toán tử | chỉ cho phép bạn nối các tập hợp với các tập hợp chứ không cho phép nối với các kiểu dữ liệu khác như bạn có thể làm với phương thức union().

Update
The update() method inserts all items from one set into another.
The update() changes the original set, and does not return a new set.
Cập nhật
Phương thức update() chèn tất cả các mục từ bộ này sang bộ khác.
Thay update() đổi tập hợp ban đầu và không trả về tập hợp mới.

In [6]:
# The update() method inserts the items in set2 into set1:
# Phương update()thức chèn các mục trong set2 vào set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 2, 3, 'c', 'b'}

Note: Both union() and update() will exclude any duplicate items.
Lưu ý: Cả hai union() và update() sẽ loại trừ mọi mục trùng lặp.

Intersection
Keep ONLY the duplicates
The intersection() method will return a new set, that only contains the items that are present in both sets.
Ngã tư
CHỈ giữ lại các bản sao
Phương thức intersection() sẽ trả về một bộ mới, chỉ chứa các mục có trong cả hai bộ.

In [7]:
# Join set1 and set2, but keep only the duplicates:
# Nối set1 và set2, nhưng chỉ giữ lại các bản sao:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

You can use the & operator instead of the intersection() method, and you will get the same result.
Bạn có thể sử dụng & toán tử thay vì phương thức intersection() và bạn sẽ nhận được kết quả tương tự.

In [8]:
# Use & to join two sets:
# Sử dụng &để nối hai bộ:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersecton() method.
Lưu ý: Toán tử & chỉ cho phép bạn nối các tập hợp với các tập hợp chứ không cho phép nối với các kiểu dữ liệu khác như bạn có thể làm với phương thức intersecton().

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.
Phương thức intersection_update() cũng sẽ CHỈ giữ lại các bản sao, nhưng nó sẽ thay đổi tập hợp ban đầu thay vì trả về một tập hợp mới.

In [9]:
# Keep the items that exist in both set1, and set2:
# Giữ các mục tồn tại trong cả hai set1và set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

The values True and 1 are considered the same value. The same goes for False and 0.
Các giá trị True và 1 được coi là cùng một giá trị. Điều tương tự cũng xảy ra với False và 0.

In [10]:
# Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:
# Tham gia các bộ chứa các giá trị True, False, 1và 0 và xem những gì được coi là trùng lặp:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.
Sự khác biệt
Phương thức difference() sẽ trả về một tập hợp mới chỉ chứa các mục từ tập hợp đầu tiên không có trong tập hợp kia.

In [11]:
# Keep all items from set1 that are not in set2:
# Giữ tất cả các mục từ set1 không có trong set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

You can use the - operator instead of the difference() method, and you will get the same result.
Bạn có thể sử dụng toán tử - thay vì phương thức difference() và bạn sẽ nhận được kết quả tương tự.

In [12]:
# Use - to join two sets:
# Sử dụng -để nối hai bộ:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.
Lưu ý: Toán tử - chỉ cho phép bạn nối các tập hợp với các tập hợp chứ không cho phép nối với các kiểu dữ liệu khác như bạn có thể làm với phương thức difference().

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.
Phương thức difference_update()cũng sẽ giữ lại các mục từ bộ đầu tiên không có trong bộ khác, nhưng nó sẽ thay đổi bộ ban đầu thay vì trả về bộ mới.

In [13]:
# Use the difference_update() method to keep the items that are not present in both sets:
# Sử dụng difference_update()phương pháp này để giữ các mục không có trong cả hai bộ:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.
Sự khác biệt đối xứng
Phương thức symmetric_difference() sẽ chỉ giữ lại các phần tử KHÔNG có trong cả hai bộ.

In [14]:
# Keep the items that are not present in both sets:
# Giữ các mục không có trong cả hai bộ:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.
Bạn có thể sử dụng toán tử ^ thay vì phương thức symmetric_difference() và bạn sẽ nhận được kết quả tương tự.

In [15]:
# Use ^ to join two sets:
# Sử dụng ^để nối hai bộ:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.
Lưu ý: Toán tử ^ chỉ cho phép bạn nối các tập hợp với các tập hợp chứ không cho phép nối với các kiểu dữ liệu khác như bạn có thể làm với phương thức symmetric_difference().

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.
Phương thức symmetric_difference_update() cũng sẽ giữ lại tất cả trừ các bản sao, nhưng nó sẽ thay đổi tập hợp ban đầu thay vì trả về một tập hợp mới.

In [16]:
# Use the symmetric_difference_update() method to keep the items that are not present in both sets:
# Sử dụng symmetric_difference_update()phương pháp này để giữ các mục không có trong cả hai bộ:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'banana', 'microsoft', 'google'}