Discovering Duplicates
Duplicate rows are rows that have been registered more than one time
Khám phá bản sao
Các hàng trùng lặp là các hàng đã được đăng ký nhiềuần..

Duration          Date  Pulse  Maxpulse  Calories
  0         60  '2020/12/01'    110       130     409.1
  1         60  '2020/12/02'    117       145     479.0
  2         60  '2020/12/03'    103       135     340.0
  3         45  '2020/12/04'    109       175     282.4
  4         45  '2020/12/05'    117       148     406.0
  5         60  '2020/12/06'    102       127     300.0
  6         60  '2020/12/07'    110       136     374.0
  7        450  '2020/12/08'    104       134     253.3
  8         30  '2020/12/09'    109       133     195.1
  9         60  '2020/12/10'     98       124     269.0
  10        60  '2020/12/11'    103       147     329.3
  11        60  '2020/12/12'    100       120     250.7
  12        60  '2020/12/12'    100       120     250.7
  13        60  '2020/12/13'    106       128     345.3
  14        60  '2020/12/14'    104       132     379.3
  15        60  '2020/12/15'     98       123     275.0
  16        60  '2020/12/16'     98       120     215.2
  17        60  '2020/12/17'    100       120     300.0
  18        45  '2020/12/18'     90       112       NaN
  19        60  '2020/12/19'    103       123     323.0
  20        45  '2020/12/20'     97       125     243.0
  21        60  '2020/12/21'    108       131     364.2
  22        45           NaN    100       119     282.0
  23        60  '2020/12/23'    130       101     300.0
  24        45  '2020/12/24'    105       132     246.0
  25        60  '2020/12/25'    102       126     334.5
  26        60      20201226    100       120     250.0
  27        60  '2020/12/27'     92       118     241.0
  28        60  '2020/12/28'    103       132       NaN
  29        60  '2020/12/29'    100       132     280.0
  30        60  '2020/12/30'    102       129     380.3
  31        60  '2020/12/31'     92       115     243.0

By taking a look at our test data set, we can assume that row 11 and 12 are duplicates.
To discover duplicates, we can use the duplicated() method

The duplicated() method returns a Boolean values for each 
Bằng cách xem tập dữ liệu thử nghiệm của chúng tôi, chúng tôi có thể giả định rằng hàng 11 và 12 là trùng ặ.
Để phát hiện các bản sao, chúng ta có thể sử  phương thứcdụng duplic() Phương thức duplicated()atthức trả về giá trị Boolean cho mỗg:row:

In [1]:
# Returns True for every row that is a duplicate, otherwise False:
# Trả True về mỗi hàng trùng lặp, nếu không thì False:
print(df.duplicated())

NameError: name 'df' is not defined

Removing Duplicates
To remove duplicates, use the drop_duplicates() method
Loại bỏ trùng lặp
Để loại bỏ trùng lặp, hãy sử dụ phương thứcng drop_duplicates..

In [ ]:
# Remove all duplicates:
# Xóa tất cả các bản sao:
df.drop_duplicates(inplace = True)

Remember: The (inplace = True) will make sure that the method does NOT return a new DataFrame, but it will remove all duplicates from the original DataFrame
Hãy nhớ: Phương thức (inplace = True) sẽ đảm bảo rằng phương thức KHÔNG trả về DataFrame mới nhưng sẽ xóa tất cả các bản sao khỏi DataFrame gốc